<%- include('../partials/adminheader.ejs') %>
    <style>
        .page-pagination {
    display: flex;
    justify-content: center; /* Centers the div horizontally */
}

    </style>



    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <!-- <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form> -->
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="/admin/order?q=request">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill"><%= count%></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="adminassets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="adminassets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="adminassets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="adminassets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="adminassets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <!-- Content header -->
                <h1>Order List</h1>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <!-- Card header -->
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <!-- Search input -->
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <!-- Status select -->
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <!-- Show select -->
                        </div>
                    </div>
                </header>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Bill Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">View </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (order && order.length > 0) { %>
                                    <% order.forEach((orderItem, index) => { %>
                                        <tr>
                                            <td><%= orderItem.oId %></td>
                                            <td><b><%= orderItem.user.name %></b></td>
                                            <td>
                                                <% let billTotal = 0; %>
                                                <% orderItem.items.forEach((item, itemIndex) => { %>
                                                    <%= item.name %> (Quantity: <%= item.quantity %>, Price: INR <%= item.price %>)
                                                    <% if(itemIndex < orderItem.items.length - 1) { %>
                                                        ,<br>
                                                    <% } %>
                                                    <% billTotal += item.quantity * item.price.toFixed(0); %>
                                                <% }) %> <!-- Closing tag for orderItem.items.forEach -->
                                            </td>
                                            <td>INR <%= billTotal %></td>
                                            <td>
                                                <span class="badge rounded-pill 
                                                    <%= orderItem.status === 'Pending' ? 'alert-warning' : 
                                                       orderItem.status === 'Processing' ? 'alert-primary' : 
                                                       orderItem.status === 'Shipped' ? 'alert-warning' : 
                                                       orderItem.status === 'Delivered' ? 'alert-success' : 
                                                       orderItem.status === 'Canceled' ? 'alert-danger' : '' %>">
                                                    <%= orderItem.status %>
                                                </span>
                                            </td>
                                            <td><%= orderItem.orderDate.toLocaleDateString() %></td>
                                            <td class="text-end">
                                                <a href="adminorderdetails?id=<%= orderItem._id %>" class="btn btn-md rounded font-sm">Detail</a>
                                            </td>
                                        </tr>
                                    <% }) %> <!-- Closing tag for order.forEach -->
                                <% } %>
                            </tbody>
                            
                            
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
          <!-- pagination starts here -->
<div class="page-pagination aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
    <ul class="pagination">
        <% if (currentPage > 1) { %>
            <li class="page-item">
                <a class="page-link" href="/admin/order?page=<%= currentPage - 1 %> <% if(q!=='null'){%> &q=1 <% } %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        <% } %>
        
        <% for (let i = 1; i <= totalPages; i++) { %>
            <li class="page-item">
                <a class="page-link <% if (currentPage === i) { %> active <% } %>" href="/admin/order?page=<%= i %> <% if(q!=='null'){%> &q=1 <% } %>"><%= i %></a>
            </li>
        <% } %>
        
        <% if (currentPage < totalPages) { %>
            <li class="page-item">
                <a class="page-link" href="/admin/order?page=<%= currentPage + 1 %> <% if(q!=='null'){%> &q=1 <% } %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        <% } %>
    </ul>
</div>
<!-- pagination ends -->
        </section>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="adminassets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="adminassets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="adminassets/js/vendors/select2.min.js"></script>
    <script src="adminassets/js/vendors/perfect-scrollbar.js"></script>
    <script src="adminassets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="adminassets/js/main.js" type="text/javascript"></script>
</body>

</html>